/*** Fondo ***/
#fondo1{
    background-image: url(../img/FigurasHeader.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#fondo2{
    background-image: url(../img/EXCHANGE.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: auto;
}
#fondo2 h4, h6{
    color: #FFFFFF;
    margin-left: 10px;
}
#fondo3{
    background-image: url(../img/azul.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: auto;
}
#fondo3 h6{
    color: #FFFFFF;
    margin-left: 10px;
    font-size: 45px;
}
#fondo3 .paso{
    max-width: 100px;
    padding-left: 50px;
    padding-top: 20px;
}
#fondo3 .image{
    flex-basis: 40%
}
img.paso{
    vertical-align: -15px;
}
#fondo3 p{
    padding-left: 20px;
    color: #CFD7F2;
    font-size: x-large;
}
#fondo3 .button{
    text-align: center;
    margin-top: 250px;
}
/*** Social2 ***/
#social2 h3{
    color:#0938BA;
    font-size: x-large;
    text-align: center;
    padding-top: 50px;
}
#social2 p{
    text-align: center;
    font-size: 20px;
    color: black;
    padding-bottom: 50px;
}
#social2 h1{
    text-align: center;
    font-size: 45px
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
#social2 .column {
    padding: 30px 0px 30px 0px;
    float: left;
}
  
  /* Clear floats after image containers */
#social2 .row::after {
    content: "";
    clear: both;
    display: table;
}

#social2 .center{
    align-items: center;
    justify-content: center;
    display: flex;
}

