/********** CSS **********/
:root {
    --primary: #0938BA;
    --secondary: #999999;
    --light: #F2F8FE;
    --dark: #111111;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 60px;
    z-index: 99;
}


h4,
h5,
h6,
.h4,
.h5,
.h6 {
    font-weight: 500 !important;
}

#inicio h3{
    color:#0938BA;
    font-size: 30px;
    font-weight: normal;
}

#inicio p{
    color:#111111;
    font-size: 20px;
    font-weight: lighter;
}

#inicio .btn.btn-square {
    color: var(--primary);
    border: 1px solid var(--primary);
}

#inicio .btn.btn-square:hover {
    color: #FFFFFF;
    background: linear-gradient(90deg, #0938BA, transparent) #388EEA;
    transition: background-color 1s;
}

#inicio .btn-primary{
    background-color: #0938BA;
    border-color: #0938BA;
}

#inicio .form-control{
    border-radius: 20px;
}
/*** Fondo ***/

#fondo1{
    background-image: url(../img/FigurasHeader.png);
    background-color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    padding: auto;
}

#fondo2{
    background-image: url(../img/EXCHANGE.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: auto;
}
#fondo2 h4, h6{
    color: #FFFFFF;
    margin-left: 10px;
}
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
    background: linear-gradient(90deg, #0938BA, transparent) #388EEA;
    border-color: #0938BA;
}

.btn.btn-secundary {
    background: #F0F0F0;
    color: #0938BA;
    border-color: #FFFFFF;
    border-radius: 20px;

}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn-primary{
    border-radius: 20px;
}


/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-brand {
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 10px;
    color: var(--dark);
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    border: 1px solid #0938BA;
    border-radius: 20px;
    background: linear-gradient(90deg, #0938BA, transparent) #388EEA;
    color:#EEEEEE;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.navbar .btn:hover {
    color: #FFFFFF !important;
    background: var(--primary) !important;
}


/*** Header ***/
.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--secondary);
}

/*** Service ***/
.container-service{
    background: #F0F0F0;
}

.service-item {
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background: #FFFFFF;
}
.container-service p{
    color: #111111;

}
.service-item p{
    font-size: 15px;
}

.service-item.bg-white::after {
    border-color: transparent transparent var(--light) transparent;
}

.service-item.bg-light::after {
    border-color: transparent transparent #FFFFFF transparent;
}
.service-item:hover .img-fluid{
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(60deg) brightness(109%) contrast(101%);
}

.service-item:hover{
    background: #0938BA;
    color: #FFFFFF;
}

.service-item:hover p{
    color:#FFFFFF;
} 

.service-item:hover .fa-arrow-right{
    color:#FFFFFF;
}

.service-item:hover h5{
    color:#FFFFFF;
}

.service-item:hover::after {
    opacity: 0;
}

.fa-arrow-right{
    color: #0938BA;
}

/*** Roadmap ***/
.roadmap-carousel {
    position: relative;
}

.roadmap-carousel::before {
    position: absolute;
    content: "";
    height: 0;
    width: 100%;
    top: 20px;
    left: 0;
    border-top: 2px dashed var(--secondary);
}

.roadmap-carousel .roadmap-item .roadmap-point {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 6px;
    left: 50%;
    margin-left: -15px;
    background: #FFFFFF;
    border: 2px solid var(--primary);
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.roadmap-carousel .roadmap-item .roadmap-point span {
    display: block;
    width: 18px;
    height: 18px;
    background: var(--primary);
}

.roadmap-carousel .roadmap-item {
    position: relative;
    padding-top: 150px;
    text-align: center;
}

.roadmap-carousel .roadmap-item::before {
    position: absolute;
    content: "";
    width: 0;
    height: 115px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-right: 2px dashed var(--secondary);
}

.roadmap-carousel .roadmap-item::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    top: 111px;
    left: 50%;
    margin-left: -7px;
    transform: rotate(45deg);
    background: var(--primary);
}

.roadmap-carousel .owl-nav {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.roadmap-carousel .owl-nav .owl-prev,
.roadmap-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 22px;
    color: var(--light);
    background: var(--primary);
    transition: .5s;
}

.roadmap-carousel .owl-nav .owl-prev:hover,
.roadmap-carousel .owl-nav .owl-next:hover {
    color: var(--primary);
    background: var(--dark);
}

/*** Footer ***/
.footer{
    background: #DBDFE3;
    color: #585B5F;
}
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #585B5F;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--secondary);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}
